* {box-sizing: border-box;}

:root {
    --topheader: #f1f6fa;
    --toptextcolor: #a2a0a1;
    --blue: #24bbc2;
    --topfooter: #d6d6d6;
    --bottomfooter: #d6d6d6;
    --gray: #d8d8d8;
}

/* -------------------------------------Header */

.top-section {
    background-color: var(--topheader);
    padding-top: 10px;
}

.top-nav {
    width: 50%;
    position: relative;
    left: 200px;
}

.top-link {
    color: var(--toptextcolor);
}

.p-col {
    position: relative;
    right: 40px;
}

.p-link {
    color: var(--blue)
}

/* Bottom-Section */

.circle {
    height: 80px;
    width: 80px;
    background-color: var(--blue);
    border-radius: 50%;
}

.heading {
    position: relative;
    font-family: 'Sanchez', serif;
    font-size: 50px;
    top: 10px;
    left: 20px;
}

.circle, .buttons {
    position: relative;
    left: 200px;
}

.buttons-3 {
    position: relative;
    left: 150px;
}

.span-ve {
    color: white;
}

.span-end {
    color: var(--blue);
}

.top-button {
    background-color: var(--gray);
}

.top-button2 {
    background-color: var(--blue);
    color: white;
}

.flag {
    width: 15px;
}

.bottom-link {
    color: black;
    font-weight: 500;
    position: relative;
    left: 130px;
}

.bottom-link:hover {
    color: var(--blue);
} 

.search-form {
    position: relative;
    right: 150px;
}

.mag {
    background-color: var(--gray);

}

.input-search {
    font: italic;
}
